@import 'src/style/variables';

.wrapper {
  padding: $base * 10;
  background: $color-secondary-100;

  @media (max-width: $breakpoint-sm-max) {
	padding: $base * 5;
  }

  @media (max-width: $breakpoint-xs-max) {
    padding: $base * 2;
  }
}

.title {
  margin-top: $base * 10;
  font-size: $fz-xxxl;
  font-weight: $fw-bold;
  text-align: center;

  @media (max-width: $breakpoint-sm-max) {
    margin-top: $base * 8;
    font-size: $fz-xxl;
  }

  @media (max-width: $breakpoint-xs-max) {
    font-size: $fz-xl;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: $base * 4;
  align-items: center;
  padding: 0 0 $base * 13;
  margin-top: $base * 14;

  input,
  textarea,
  div {
    width: 100%;
  }

  @media (max-width: $breakpoint-sm-max) {
    padding: 0 $base * 5 $base * 8;
    margin-top: $base * 10;
  }
}

.error,
.error:focus {
  border: $base * 0.5 solid $color-danger-200;
}

.errors-box {
  width: 100%;
  padding: $base * 2.5 $base * 5;
  margin-top: -$base * 2;
  font-size: $fz-xxxs;
  line-height: 1.5;
  color: $color-danger-200;
  text-align: center;
  background: $color-danger-100;
  border-radius: $base * 2.5;
}
